.about-section {
  padding: 60px 0;
  color: black;
}

.about-title {
  background: #ff6a00;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 20px;
}

.about-title i {
  margin-right: 10px;
  font-size: 28px;
}

.about-desc {
  font-size: 18px;
  font-weight: 500;
  text-align: center;

}

.about-text {
  text-align: center;
}

.about-image {
  width: 100%;

}
.about-container {
  display: flex;
  gap: 30px; 
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column; 
    text-align: center;     
  }

  .about-image {
    width: 100%;
  }
}


@media (max-width: 992px) {
  .about-desc {
    font-size: 16px;
    padding: 0 10px;
  }
  
  .about-title {
    font-size: 24px;
  }
}
