
.faq-section {
  padding: 50px 0 80px;
  background: #fff;
 
}


.faq-title {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 28px;
  color: #111;
}

.accordion-button:not(.collapsed) {
  background-color: #ffbfa4 !important; 
  border: 0px;
  color: #222;
}

.accordion-button {
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  padding: 16px 22px;

}



.accordion-body {
  background: #fff;
  font-size: 15px;
  padding: 20px 22px 24px;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
}

.accordion-button:active {
  box-shadow: none !important;
 
}

.accordion-button:not(.collapsed) {
  background-color: #ffbfa4 !important;
  color: #222;
  box-shadow: none !important;
  border: none !important;
}

.accordion-item {
  border: 1px solid #e1e1e1;
}



@media (max-width: 768px) {
  .faq-title {
    font-size: 32px;
  }

  .accordion-button {
    padding: 14px 18px;
  }

  .accordion-body {
    padding: 16px 18px 20px;
  }
}