.navbar {
  padding: 12px 40px;
  font-family: "Poppins", sans-serif;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}
.nav-center {
  margin-left: 0 !important;
  margin-right: auto !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.nav-center .nav-link {
  font-weight: bold !important;
}

.nav-center .nav-link {
  color: #222;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 14px;
  transition: color 0.3s ease;
}

.nav-center .nav-link:hover {
  color: #ff6a00;
}

.my-icon{
 padding-right: 20px !important;
}

@media (min-width: 992px) {
  .nav-center {
    margin-right: auto !important;
  }
}
@media (max-width: 992px) {
  .social-icons {
    margin: 15px 0;
  }

  .section-button {
    margin-top: 10px;
  }
}
