.cards-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.feedback-title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.feedback-subtitle{
    display: flex;
    justify-content: center;
}
.testimonial-card {
  width: 100%;
  height: 100% !important;
  padding: 25px;
  background: white;
  border-radius: 20px;
 border: 1px solid rgb(250, 237, 237);
}

.rating svg {
  color: #ffb400;
  font-size: 22px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.my-circle {
  width: 45px;
  height: 45px;
  background: #00334e;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.cards-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; 
}

.testimonial-card {
  flex: 1 1 300px;     
  max-width: 350px;    
  min-height: 350px;     
  padding: 25px;
  background: white;
  border-radius: 20px;
  border: 1px solid rgb(250, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-sizing: border-box;
}

.user-info div h5,
.user-info div p {
  margin: 3px ;
}

.rating {
  margin-bottom: 15px; 
}


.comment{
    font-style: italic;

}

.swiper-pagination-bullet {
  background-color: #ccc; 
}

.swiper-pagination-bullet-active {
  background-color: #ff6a00 !important; 
}

.custom-Name{
    margin-top: 40px;
    margin-bottom: 1px;
    color: #00334e;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.my-circle {
  width: 45px;
  height: 45px;
  background: #00334e;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


.feedback-title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.feedback-subtitle{
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
}


@media (max-width: 768px) {
  .cards-wrapper {
    gap: 15px;
  }
  .testimonial-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
