.footer {
  background: #000;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-grid {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 80px;
}

.footer-col h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 18px;
  color: #fff;
}


.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 15px;
  margin-bottom: 12px;
  color: #cfcfcf;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #fff;
}

.footer-icon .social-icon{
  color: white !important;
}
.year-footer{
  padding-bottom: 10px !important;
  color: #bababa;
  text-align: center;
}
.custom-link{
  text-decoration: none !important;
  color: #e2dddd !important;

}
@media (max-width: 992px) {
  .footer-grid {
    flex-direction: column;   
    gap: 40px;
  }}
@media (max-width: 768px) {
 
  .footer{
    display: none;
  }
}