.footer {
  background: #000;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}



.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-col h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 18px;
  color: #fff;
}


.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 15px;
  margin-bottom: 12px;
  color: #cfcfcf;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-col ul li:hover {
  color: #fff;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-list i {
  font-size: 16px;
  color: #fff;
  width: 18px;
}

/* Social icons */
.footer-social {
  margin-top: 18px;
  display: flex;
  gap: 14px;
}

.footer-social i {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

.footer-social i:hover {
  opacity: 1;
}

/* Bottom line */
.footer-bottom-line {
  margin-top: 40px;
  height: 2px;
  background: #333;
}

@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}