.testimonials-wrap {
  padding-top: 0px;
  padding-bottom: 30px;

}

.testimonials-title {
  text-align: center;
  font-size: 42px;
  font-weight: 800;
 margin-top: 0;
 padding-top: 0;
  color: #111;
}


.t-card {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 100%;
}

.t-card .card-body {
  padding: 24px 18px 22px;
}


.t-avatar {
  width: 180px;
  height: 75px;
  margin: 0 auto 18px;
  border-radius: 999px;
}

.t-avatar img {
     border-radius: 100%;
    width: 49%;
    height: 100%;
}


.t-title {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin: 8px 0 6px;
}

.t-sub {
  font-size: 14px;
  color: #666;
  margin: 0 0 18px;
}

.t-text {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0;
}


@media (max-width: 992px) {
  .testimonials-title {
    font-size: 32px;
  }
  .t-avatar {
    width: 160px;
    height: 68px;
  }
}