.center-carousel h1 {
  font-size: 32px; 
  text-align: center;
  padding: 16px;
}

.custom-color{
    background-color: rgba(0, 0, 0, 0.408) !important ;
    color: white !important;
}
@media (max-width: 768px) {
  .center-carousel h1 {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 992px) {
  .center-carousel h1 {
    font-size: 24px;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .center-carousel h1 {
    font-size: 12px; 
    padding: 6px;    
  }
  .d-block{
    height: 350px !important;
  }
}
